.root {
    -fx-background-color: black;
}

.gameTitle {
    -fx-font-size: 48px;
    -fx-font-family: 'Arial';
    -fx-fill: white;
    -fx-font-weight: bold;
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}

.menuButton {
    -fx-background-color: #FFA500;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-padding: 10px;
    -fx-min-width: 100px;
    -fx-font-family: Cambria;
}

.menuButton:hover {
    -fx-background-color: gold;
}

.menuButton:focused {
    -fx-background-color: white;
}

.keyButton {
    -fx-background-color: #FFA500;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-padding: 10px;
    -fx-min-width: 75px;
    -fx-font-family: Cambria;
}

.keyButton:hover {
    -fx-background-color: gold;
}

.keyButton:focused {
    -fx-background-color: white;
}

.settingsTitle {
    -fx-font-size: 24px;
    -fx-fill: white;
    -fx-font-weight: bold;
}

.settingsLabel {
    -fx-font-family: Cambria;
}

.colorBlind {
    -fx-font-family: Cambria;
}

.choiceBox {
    -fx-font-family: Cambria;
}

.keySettingTitle {
    -fx-font-size: 20px;
    -fx-fill: white;
    -fx-font-weight: bold;
}